body {
  padding-top: 100px;
}

.jumbotron {
  margin: 0 auto;
  text-align: center;
  width: 70%;
  height: 400px;
}

.input-group {
  width: 75%;
}

.input-group input {
  margin-top: 20px;
}

.btn {
  margin-top: 20px;
}

.scoreboard {
  width: 120px;
  height: 400px;
  float: left;
  text-align: center;
}

.scoreboard #correct {
  width: auto;
  height: 120px;
  background-color: #5cb85c;
  color: white;
}

.scoreboard #wrong {
  width: auto;
  height: 120px;
  background-color: #d9534f;
  color: white;
}

.scoreboard #remaining {
  width: auto;
  height: 120px;
  background-color: #f0ad4e;
  color: white;
}

.scoreboard h4 {
  padding-top: 15px;
}

.input-group {
  margin: 0 auto;
}

.input-group .form-control {
  text-align: left;
}

input[type=text]{
  width: 300px;
  text-align: center;
  border-radius: 5px;
  margin-top: 15px;
}

.input-group-btn .btn {
  margin-top: 15px;
  background-color: #5cb85c;
  color: white;
}

/*button {
  position: absolute;
  border-radius: 5px;
  margin-left: 500px;
  margin-top: -62px;
  background-color: blue;
  color: white;
  width: 100px;
}*/

.score p {
  margin-top: -3px;
  font-size: 3.2em;
}

.score {
  border-radius: 10px;
  margin-top: 10px;
}

input#registerbutton {
  margin-top: 10px;
  margin-left: 300px;
}

input#loginbutton {
  margin-top: 10px;
  margin-left: 300px;
}

