body {
  padding-top: 100px;
}

.jumbotron {
  margin: 0 auto;
  text-align: center;
  width: 70%;
  height: 400px;
}

.input-group {
  width: 75%;
}

.input-group input {
  margin-top: 20px;
}

.btn {
  margin-top: 20px;
}

.scoreboard {
  width: 120px;
  height: 400px;
  float: left;
  text-align: center;
}

.score {
  height: 120px;
}

.scoreboard #correct {
  width: auto;
  background-color: #5cb85c;
  color: white;
}

.scoreboard #wrong {
  width: auto;
  background-color: #d9534f;
  color: white;
}

.scoreboard #remaining {
  width: auto;
  background-color: #f0ad4e;
  color: white;
}

.scoreboard h4 {
  padding-top: 15px;
}

.input-group {
  margin: 0 auto;
}

.input-group .form-control {
  text-align: left;
}

input[type=text]{
  width: 300px;
  text-align: center;
  border-radius: 5px;
  margin-top: 15px;
}

.input-group-btn .btn {
  margin-top: 15px;
  background-color: #5cb85c;
  color: white;
}

.score p {
  margin-top: -3px;
  font-size: 3.2em;
}

.score {
  border-radius: 10px;
  margin-top: 10px;
}

input#registerbutton {
  margin-top: 10px;
  margin-left: 300px;
}

input#loginbutton {
  margin-top: 10px;
  margin-left: 300px;
}

@media (max-width: 990px) {
  .scoreboard {
    width: 100%;
    float: none;
    margin-top: -40px;
  }
  .score {
    height: 80px;
    font-size: 0.5em;
  }
  .jumbotron {
    width: 100%;
    margin-top: -100px;
  }
}
