<div class="scoreboard">
  <div id="correct" class="score">
    <h4>Correct</h4>
    <p>
      <!-- erb for number correct -->
      12
    </p>
  </div>
  <div id="wrong" class="score">
    <h4>Wrong</h4>
    <p>
      <!-- erb for number wrong -->
      5
    </p>
  </div>
  <div id="remaining" class="score">
    <h4>Remaining</h4>
    <p>
      34
      <!-- erb for number remaining -->
    </p>
  </div>
</div>

<div class="game">
  <div id="card">
      <div class="question">
        <%= @card.question %>
      </div>

      <div class="answer">
        <%= @card.answer %>
      </div>
    </div>
  </div>

  <div class="interface">
    <form method="post" action="/decks/<%= @deck.id %>">
      <input type="hidden" name="card_id" value="<%= @card.id %>">
      <input type="text" name="guess">
      <input type="submit" value="submit">
    </form>
  </div>
  <form method="post" action="/decks/1">
    <button type="button">Next</button>
  </form>
</div>
