<div class="scoreboard">
  <div id="correct" class="score">
    <h4>Correct</h4>
    <p>
      <!-- erb for number correct -->
      12
    </p>
  </div>
  <div id="wrong" class="score">
    <h4>Wrong</h4>
    <p>
      <!-- erb for number wrong -->
      5
    </p>
  </div>
  <div id="remaining" class="score">
    <h4>Remaining</h4>
    <p>
      34
      <!-- erb for number remaining -->
    </p>
  </div>
</div>

<div class="jumbotron">
  <div id="card">
      <h1>
        <%= @card.question %>
      </h1>

      <h1>
        <%= @card.answer %>
      </h1>
    </div>
    <div class="interface">
      <form method="post" action="/decks/<%= @deck.id %>">
        <div class="input-group">
                  <input type="text" class="form-control" placeholder="Guess">
                  <span class="input-group-btn">
                    <input type="submit" value="Go!" class="btn btn-default" type="button">Go!</button>
                  </span>
          </div>
          <input type="submit" class="btn btn-primary btn-lg" role="button" value="Skip"></a>
      </form>
    </div>

  </div>



</div>
