<div class="jumbotron">
  <p class="lead">Welcome to</p>
  <h1>Flashcardz</h1>
  <% if logged_in? %>
    <a class="btn btn-lg btn-success" href="/decks">Play a Deck</a>
  <% else %>
    <a class="btn btn-lg btn-success" href="/login" role="button">Log In</a>

    <a class="btn btn-lg btn-default" href="/register" role="button">Register</a>
  <% end %>
</div>
