<div class="jumbotron">
  <h1>Flashcardz</h1>
  <p class="lead">Welcome to Flashcardz</p>
  <p>
    <a class="btn btn-lg btn-success" href="/login" role="button">Log in</a>
  </p>
  <p>
    <a class="btn btn-lg" href="/register" role="button">Sign up today</a>
  </p>

</div>